{
    "https://pve1.localdomain/api2/extjs/nodes/pve2/lxc/LXC_ID_HERE/firewall/log?_dc=1749521822405&start=0&limit=510": {
        "name": "pve1.localdomain",
        "id": "root@pve!api_key",
        "secret": "xxxxxxxxxxxxxx",
        "report_url": "https://discord.com/api/webhooks/xxxxxxx/xxxxxxx?thread_id=xxxxxxxxx"
    }
}
